{{#if (eq actor.type "follower")}}

    <div class="form-group">
        <label>{{localize "PILLARS.Species"}}</label>
        <div data-path="system.details.species" class="fake-input singleton">{{system.details.species.name}}</div>
    </div>
    <div class="form-group">
        <label>{{localize "PILLARS.Culture"}}</label>
        <div data-path="system.details.culture" class="fake-input singleton">{{system.details.culture.name}}</div>
    </div>
    <div class="form-group">
        <label>{{localize "PILLARS.Stock"}}</label>
        <div data-path="system.details.stock" class="fake-input singleton">{{system.details.stock.name}}</div>
    </div>
    <div class="form-group">
        <label>{{localize "PILLARS.Godlike"}}</label>
        <div data-path="system.details.godlike" class="fake-input singleton">{{system.details.godlike.name}}</div>
    </div>
    <div class="form-group">
        <label>{{localize "PILLARS.Size"}}</label>
        <input type="number" disabled value="{{system.size.value}}">
    </div>

    <div class="form-group">
        <label>{{localize "PILLARS.BirthYear"}}</label>
        <div class="form-fields">
            <input type="number" name="system.life.birthYear" value="{{system.life.birthYear}}">
            <input type="number" disabled value="{{system.life.age}}">
            <input type="text" disabled value="{{configLookup 'lifePhases' system.life.phase}}">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "PILLARS.StartYear"}}</label>
        <div class="form-fields">
            <input type="number" name="system.life.startYear" value="{{system.life.startYear}}">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "PILLARS.Loyalty"}}</label>
        <div class="form-fields">
            <input type="number" name="system.loyalty.value" value="{{system.loyalty.value}}">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "PILLARS.Upkeep"}}</label>
        <div class="form-fields">
            <input type="number" name="system.upkeep.value" value="{{system.upkeep.value}}">
        </div>
    </div>

{{/if}}

<div class="editors">
    <div class="editor-container">
        <label>{{localize "PILLARS.Description"}}</label>
        {{editor system.notes.value target="system.notes.value" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
    {{#if (isGM)}}
        <div class="editor-container">
            <label>{{localize "PILLARS.GMNotes"}}</label>
            {{editor system.notes.gm target="system.notes.gm" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    {{/if}}
</div>