<form class="{{cssClass}}" autocomplete="off">

    <div class="sheet-side">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        <div>
            <div class="form-group">
                <label>Size</label>
                <input type="number" value="{{system.size}}" name="system.size">
            </div>
            <div class="form-group">
                <label>Residents</label>
                <input type="number" value="{{system.residents.total}}" disabled>
            </div>
            <div class="form-group">
                <label>Staff</label>
                <input type="number" value="{{system.staff.total}}" disabled>
            </div>
            <div class="form-group">
                <label>Treasury <a class="transfer"><i class="fa-solid fa-treasure-chest"></i></a></label>
                <input type="number" name="system.treasury.value" value="{{system.treasury.value}}" {{#unless
                    (isGM)}}disabled{{/unless}}>
            </div>
            <div class="form-group">
                <label>Upkeep</label>
                <input type="number" name="system.upkeep" value="{{system.upkeep}}" disabled>
            </div>
            <div class="form-group">
                <label>Disrepair</label>
                <input type="number" name="system.disrepair.value" value="{{system.disrepair.value}}">
            </div>
        </div>

        <div class="log">
            <h3>Log</h3>
            {{{this.log}}}
        </div>

    </div>

    <div class="sheet-content">
        <div class="sheet-header">
            <div class="name">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
                </h1>
            </div>
        </div>

        <div class="tab-section">
            <nav class="sheet-tabs tabs">
                <a class="tab-select item active" data-tab="residents">{{localize "PILLARS.Residents"}}</a>
                <a class="tab-select item" data-tab="accommodations">{{localize "PILLARS.Accommodations"}}</a>
                <a class="tab-select item" data-tab="library">{{localize "PILLARS.Library"}}</a>
                <a class="tab-select item" data-tab="defenses">{{localize "PILLARS.Defenses"}}</a>
            </nav>
            <div class="tab-content">
                <div class="tab residents" data-tab="residents">
                    {{> systems/pillars-of-eternity/templates/actor/headquarters/actor-residents.hbs}}
                </div>
                <div class="tab accommodations" data-tab="accommodations">
                    {{> systems/pillars-of-eternity/templates/actor/headquarters/actor-accommodations.hbs}}
                </div>
                <div class="tab library" data-tab="library">
                    {{> systems/pillars-of-eternity/templates/actor/headquarters/actor-library.hbs}}
                </div>
                <div class="tab hq-defenses" data-tab="defenses">
                    {{> systems/pillars-of-eternity/templates/actor/headquarters/actor-defenses.hbs}}
                </div>
            </div>
        </div>
    </div>
</form>