<div class="check-buttons">
    {{#if check.doesDamage}}
        <button type="button" class="roll-damage">{{localize "PILLARS.RollDamage"}}</button>
    {{/if}}
    {{#if check.doesHealing}}
        <button type="button" class="roll-healing">{{localize "PILLARS.RollHealing"}}</button>
    {{/if}}

    {{#if check.power.summons.length}}
        {{#each check.power.summons as |summon s|}}
            <button type="button" data-index="{{s}}" class="add-summon"><img src="{{summon.img}}">{{format "PILLARS.AddSummon" name=summon.name}}</button>
        {{/each}}
    {{/if}}

    {{#if check.hasEffects}}
        {{#each check.effects as |effect e|}}
            <button type="button" data-effect="{{effect.id}}" class="apply-effect"><img
                    src="{{effect.system.icon}}">{{format "PILLARS.ApplyEffect"}} name=effect.system.label}}</button>
        {{/each}}
    {{/if}}
</div>