<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.hbs category=item.Type physical=true}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "PILLARS.Description"}}</a>
        <a class="item" data-tab="details">{{localize "PILLARS.Details"}}</a>
        <a class="item" data-tab="effects">{{localize "PILLARS.Effects"}}</a>
        <a class="item" data-tab="powers">{{localize "PILLARS.Powers"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.hbs}}


        <div class="tab details active" data-tab="details"> 

            <div class="form-group">
                <label>{{localize "PILLARS.Type"}}</label>
                <div class="form-fields">
                    <select name="system.category.value">
                        {{#select system.category.value}}
                        <option value=""></option>
                        {{#each (config "armorTypes") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Soak"}}</label>
                <div class="form-fields small">
                    <input type="number" name="system.soak.value" value="{{system.soak.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.WindedThreshold"}}</label>
                <div class="form-fields small">
                    <input type="number" name="system.winded.value" value="{{system.winded.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Initiative"}}</label>
                <div class="form-fields small">
                    <input type="number" name="system.initiative.value" value="{{system.initiative.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Stride"}}</label>
                <div class="form-fields small">
                    <input type="number" name="system.stride.value" value="{{system.stride.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Run"}}</label>
                <div class="form-fields small">
                    <input type="number" name="system.run.value" value="{{system.run.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Toughness"}}</label>
                <div class="form-fields small">
                    <input type="number" name="system.toughness.value" value="{{system.toughness.value}}" data-dtype="Number">
                </div>
            </div>
            
        
        </div>

        {{> systems/pillars-of-eternity/templates/item/item-effects.hbs}}


        {{> systems/pillars-of-eternity/templates/item/item-powers.hbs}}


    </section>

</form>