<div class="tab powers active" data-tab="powers">
  {{#unless (eq system.category.value "grimoire")}}
    <div class="charges">
      <label>{{localize "PILLARS.ItemCharges"}}</label>
      <input class="small" type="number" name="system.powerCharges.value" value="{{system.powerCharges.value}}"
        data-dtype="Number">
      <input class="small" type="number" name="system.powerCharges.max" value="{{system.powerCharges.max}}"
        data-dtype="Number">
      <select name="system.powerRecharge">
        {{#select system.powerRecharge}}
          <option value=""></option>
          {{#each (config "rechargeTypes") as |type t|}}
            <option value="{{t}}">{{type}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  {{/unless}}


  <div class="sheet-list">
    <li class="list-header">
      <div class="list-name"><span>{{localize "PILLARS.Powers"}}</span></div>
      {{#unless (eq system.category.value "grimoire")}}
        <div>Type</div>
      {{/unless}}
      <div class="list-controls">

      </div>
    </li>

    <ul class="list-content">
      {{#each item.system.powers}}
        <li data-index="{{@key}}">
          <div class="row-content">
            <div class="list-name power-edit">
              <img class="list-image" src="{{this.img}}">
              <a>{{this.name}}</a>
            </div>
            {{#unless (eq ../system.category.value "grimoire")}}
              <div>
                {{#unless (eq this.system.embedded.spendType "source")}}
                  {{#if (eq this.system.embedded.spendType "charges")}}
                    <input class="embedded-power-edit" data-path="embedded.chargeCost" type="number"
                      value="{{this.system.embedded.chargeCost}}" data-dtype="Number">
                  {{else}}
                    <input class="embedded-power-edit" data-path="embedded.uses.max" type="number"
                      value="{{this.system.embedded.uses.max}}" data-dtype="Number">
                  {{/if}}
                {{/unless}}
              </div>
              <select data-path="embedded.spendType" class="embedded-power-edit">
                {{#select this.system.embedded.spendType}}
                  <option value=""></option>
                  {{#each (config "embeddedPowerSpendTypes") as |type t|}}
                    <option value="{{t}}">{{type}}</option>
                  {{/each}}
                {{/select}}
              </select>
            {{/unless}}
            <div class="list-controls">
              {{#if ../document.isOwner}}
                <a class="list-control power-delete" title="Delete"><i class="fas fa-trash"></i></a>
              {{/if}}
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>