<div>
    <ol>
        <li class="damage section-header">
            <div class="damage-element">{{localize "PILLARS.Label"}}</div>
            <div class="damage-element">{{localize "PILLARS.Type"}}</div>
            <div class="damage-element">{{localize "PILLARS.Base"}}</div>
            <div class="damage-element crit">{{localize "PILLARS.Crit"}}</div>
            <div class="damage-element target">{{localize "PILLARS.Target"}}</div>
        </li>
        {{#each damages as |damage d|}}

        <li class="damage" data-index={{d}}>
                <input type="text" class="damage-element label" placeholder='{{localize "PILLARS.Label"}}' value="{{damage.label}}"/>
                <select class="damage-element type">
                    {{#select damage.type}}
                    {{#each (config "damageTypes") as |type t|}}
                    <option value="{{t}}">{{type}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <input type="text" class="damage-element base" placeholder='{{localize "PILLARS.Base"}}' value="{{damage.base}}"/>
                <div class="damage-element mult-crit" style="display: flex;">
                    +
                    <select  name={{d}} class="damage-element mult">
                        {{#select damage.mult}}
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        {{/select}}
                    </select>
                    <span>x</span>
                    <input type="text" class="damage-element crit" placeholder='{{localize "PILLARS.Crit"}}' value="{{damage.crit}}"/>
                </div>
                <div class="damage-element target">
                    <select class="target-select">
                    {{#select damage.target}}
                    <option value=""> - </option>
                    {{#each ../targets as |target t|}}
                    <option value="{{target.id}}">{{target.name}}</option>
                    {{/each}}
                    {{#each ../disabled as |disabledTarget t|}}
                    <option disabled>{{disabledTarget.name}}</option>
                    {{/each}}
                    {{/select}}
                    </select>
                    <img src="{{damage.img}}" height="30" width="30">
                </div>
        </li>
        {{/each}}
    </ol>
    <div class="damage-control">
    <a class="add-damage"><i class="fas fa-plus-square"></i></a>
    </div>
    <button>{{localize "Roll"}}</button>
</div>