<form>
    <div>
        <ul>
            <li class="header">
                <div>{{localize "PILLARS.Label"}}</div>
                <div>{{localize "PILLARS.Base"}}</div>
                <div class="target">{{localize "PILLARS.Target"}}</div>
            </li>
            {{#each healing}}

                <li data-index={{@key}}>
                    <input type="text" class="label" placeholder="Label" value="{{this.label}}" />
                    <input type="text" class="base" placeholder="Base" value="{{this.value}}" />
                    <select class="type">
                        {{#select this.type}}
                            <option value="health">{{localize "PILLARS.Health"}}</option>
                            <option value="endurance">{{localize "PILLARS.Endurance"}}</option>
                        {{/select}}
                    </select>
                    <div class="target">
                        <select class="target-select">
                            {{#select this.target}}
                                <option value=""> - </option>
                                {{#each ../targets as |target t|}}
                                    <option value="{{target.id}}">{{target.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                        <img src="{{this.img}}" height="30" width="30">
                    </div>
                </li>
            {{/each}}
        </ul>
        <div class="roll-control">
            <a class="add-roll"><i class="fas fa-plus-square"></i></a>
        </div>
    </div>
    <button type="submit">{{localize "Roll"}}</button>
</form>