<form>
    <div class="dialog-fields">
        <div class="form-group">
            <label>{{localize "PILLARS.Modifier"}}</label>
            <div class="form-fields">
                <input tabindex="1" type="text" name="modifier" value="{{modifier}}">
            </div>
        </div>
        <div class="form-group steps">
            <label>{{localize "PILLARS.Steps"}}</label>
            <div class="form-fields">
                <!-- <input type="number" name="steps" value="{{steps}}"> -->
                <select name="steps" value="{{steps}}">
                    <option value="-5">-5</option>
                    <option value="-4">-4</option>
                    <option value="-3">-3</option>
                    <option value="-2">-2</option>
                    <option value="-1">-1</option>
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="text" name="step-dice" disabled value="">
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PILLARS.Proxy"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="proxy" {{#unless hasRank}}disabled{{/unless}}>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PILLARS.Assistance"}}</label>
            <div class="form-fields">
                <select name="assistance">
                    <option value="">-</option>
                    {{#each assisters as |actor a|}}
                        <option value="{{actor.id}}">{{actor.name}} ({{actor.die}})</option>
                    {{/each}}
                </select>
            </div>

        </div>
        <div class="form-group state">
            <div>
                <label>{{localize "PILLARS.Advantaged"}}</label>
                <input type="radio" id="state-adv" name="state" value="adv" {{checked state.adv}} />
            </div>
            <div>
                <label>{{localize "PILLARS.Normal"}}</label>
                <input type="radio" id="state-normal" name="state" value="normal" {{checked state.normal}} />
            </div>
            <div>
                <label>{{localize "PILLARS.Disadvantaged"}}</label>
                <input type="radio" id="state-dis" name="state" value="dis" {{checked state.dis}} />
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "PILLARS.RollMode"}}</label>
            <div class="form-fields">
                <select name="rollMode">
                    {{#select rollMode}}
                        {{#each rollModes as |mode m|}}
                            <option value="{{m}}">{{localize mode}}
                            <option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>

        </div>
    </div>
    <div class="effects">
        <select tabindex="0" multiple class="effect-select">
            {{#each changeList as |change c|}}
                <option title="{{change.document.label}}: {{change.conditional.description}}" value="{{change.index}}">
                    &#8226; {{#if change.target}}<b>Target</b>: {{/if}} {{change.conditional.description}}</option>
            {{/each}}
        </select>
    </div>
</form>